@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #59981A;
  padding: 2rem;
  color: #3D550C;
}

input,
button {
  border-radius: 4px;
  border: 0;
  padding: 0.5rem 1rem;
  outline: none!important;
  font-weight: 500;
  max-height: 40px;
}

input[type="button"],
button {
  background-color: #3D550C;
  color: #ECF87F;
  padding: 0.5rem 1rem;
  font-weight: 700;
  height: 40px;
  max-height: 40px;
  width: 180px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}